@media (min-width: 980px) {
    .pull-center {
        text-align: center;
    }
    .pull-center > .nav-center {
        float:none;
        display:inline-block;
        *display: inline; *zoom: 1;
        height: 45px;
    }
}

body {
   background-image: linear-gradient(top, rgb(255,255,255) 9%, rgb(136,85,194) 90%);
  background-image: -o-linear-gradient(top, rgb(255,255,255) 9%, rgb(136,85,194) 90%);
  background-image: -moz-linear-gradient(top, rgb(255,255,255) 9%, rgb(136,85,194) 90%);
  background-image: -webkit-linear-gradient(top, rgb(255,255,255) 9%, rgb(136,85,194) 90%);
  background-image: -ms-linear-gradient(top, rgb(255,255,255) 9%, rgb(136,85,194) 90%);

  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.09, rgb(255,255,255)),
    color-stop(0.9, rgb(136,85,194))
  );
    background-attachment: fixed;
    height: 100%;

    color: #36454F;
}

h1, h2, h3, h4 {
    color: #343434;
    padding-top: 50px;
    margin-top: -50px;
}

.main-content {
    margin-top: 60px;
}

.article {
    background-color: #f0f0f0;
    position: relative;
    /*margin-left: 25%;*/
}

.navbar .nav > li > a {
    color: #FFFFFF;
    padding-top: 15px;
    padding-bottom: 15px;
}

.navbar .nav > li > a:focus, .navbar .nav > li > a:hover {
    color: #FFFFFF;
}

.navbar .nav>.active>a, .navbar .nav>.active>a:hover, .navbar .nav>.active>a:focus {
    background-color: #FF45F3;
    color:#FFFFFF;
    font-weight: 500;
    font-size: 18px;
    font-variant: small-caps;
}

.navbar .nav li.dropdown.open>.dropdown-toggle,.navbar .nav li.dropdown.active>.dropdown-toggle,.navbar .nav li.dropdown.open.active>.dropdown-toggle {
    background-color:#FAD7F5;
    color:#B82EB3;
}

.navbar .nav li.dropdown.active>.dropdown-toggle {
    background-color: #FF45F3;
    color:#FFFFFF;
    font-weight: 500;
    font-size: 18px;
    font-variant: small-caps;
}

.btn-expand {
    font-weight: 900;
    margin-top: 3px;
    margin-bottom: 5px;
}

a.expand:hover {
    text-decoration: none;
    color:#0088cc;
}

.text-box {
    height: 400px;
    overflow: auto;
    position: relative;
}

.no-top-margin {
    margin-top: none;
}

.no-top-padding {
    padding-top: none;
}

.logo {
    position: fixed;
    width: 14%;
    max-width: 200px;
}

.text-box::-webkit-scrollbar {
    width: 12px;
    height: 17px;
}
.text-box::-webkit-scrollbar-track {
    background-color: rgba(113,115,107,0.1);
    -webkit-border-radius: 5px;
}
.text-box::-webkit-scrollbar-thumb:vertical {
    background-color: rgba(0,0,0,.2);
    -webkit-border-radius: 6px;
}
.text-box::-webkit-scrollbar-thumb:vertical:hover,
.text-box::-webkit-scrollbar-thumb:horizontal:hover {
    background: #FF45F3;
}
.text-box::-webkit-scrollbar-thumb:horizontal {
    background-color: rgba(0,0,0,.2);
    -webkit-border-radius: 6px;
}

.btn-fb {
  background-color: hsl(210, 67%, 17%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#246db7", endColorstr="#0e2b48");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#246db7), to(#0e2b48));
  background-image: -moz-linear-gradient(top, #246db7, #0e2b48);
  background-image: -ms-linear-gradient(top, #246db7, #0e2b48);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #246db7), color-stop(100%, #0e2b48));
  background-image: -webkit-linear-gradient(top, #246db7, #0e2b48);
  background-image: -o-linear-gradient(top, #246db7, #0e2b48);
  background-image: linear-gradient(#246db7, #0e2b48);
  border-color: #0e2b48 #0e2b48 hsl(210, 67%, 10.5%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.42);
  -webkit-font-smoothing: antialiased;
}

i.icon-fb {
    background-image: url("../img/facebook_logo.png");
    background-position: center center;
}

.btn-twitter {
  background-color: hsl(191, 91%, 34%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0bc0e9", endColorstr="#0788a5");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#0bc0e9), to(#0788a5));
  background-image: -moz-linear-gradient(top, #0bc0e9, #0788a5);
  background-image: -ms-linear-gradient(top, #0bc0e9, #0788a5);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0bc0e9), color-stop(100%, #0788a5));
  background-image: -webkit-linear-gradient(top, #0bc0e9, #0788a5);
  background-image: -o-linear-gradient(top, #0bc0e9, #0788a5);
  background-image: linear-gradient(#0bc0e9, #0788a5);
  border-color: #0788a5 #0788a5 hsl(191, 91%, 30.5%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.23);
  -webkit-font-smoothing: antialiased;
}

.twt {
  margin-top: 3px;
  display: inline;
  clear: none;
}

.fb {
  margin-left: 20px;
  margin-right: 0px;
  width: 75px;
  clear: none;
}

