@media (min-width: 980px) {
    .pull-center {
        text-align: center;
    }
    .pull-center > .nav-center {
        float:none;
        display:inline-block;
        *display: inline; *zoom: 1;
        height: 45px;
    }
}

.article {
    margin-top: 60px;
}

.navbar .nav > li > a {
    color: #FFFFFF;
    padding-top: 15px;
    padding-bottom: 15px;
}

.navbar .nav > li > a:focus, .navbar .nav > li > a:hover {
    color: #FFFFFF;
}

.navbar .nav>.active>a, .navbar .nav>.active>a:hover, .navbar .nav>.active>a:focus {
    background-color: #ff9a40;
    color:#FFFFFF;
    font-weight: bold;
}

.navbar .nav li.dropdown.open>.dropdown-toggle,.navbar .nav li.dropdown.active>.dropdown-toggle,.navbar .nav li.dropdown.open.active>.dropdown-toggle {
    background-color:#ED913E;
    color:#FFFFFF;
    font-weight: bold;
}